{% extends 'notes/note_base.html' %}

{% block prenote %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col">
                
                </div>
                <div class="col-md-auto">
                
                </div>
                <div class="col col-lg-2">
                    <a class="btn btn-primary" href="{% url 'notes:create' %}" style="background-color: #77cbb9; border-color: #77cbb9;">
                        <span class="glyphicon glyphicon-plus-sign">Nueva nota</span>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <h2>Te damos la bienvenida a corrrector</h2>
        <h3>Inicia sesión para acceder a la aplicación</h3>
    {% endif %}
{% endblock %}

{% block note_content %}
{% if user.is_authenticated %}
    <div class="card-deck">
    {% for note in note_list %}
        {% include "notes/_note.html" %}
    {% endfor %}
    </div>
{% endif %}
{% endblock %}