{% extends 'notes/note_base.html' %}
{% load bootstrap4 %}

{% block prenote %}
<h2>Nueva nota</h2>
{% endblock  %}

{% block note_content %}
<div class="container">
  <div class="row">
    <div class="col-8">
        <form method="POST" action="{% url 'notes:create' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-dark" style="background-color: #1c1c1c; border-color: #1c1c1c;">Guardar</button>
        </form>
    </div>
    <div class="col-4">
        <!--TODO list of errors-->
    </div>
  </div>
</div>
{% endblock  %}